/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Miniver&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Stolzl-medium";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./../fonts/stolzl_medium.woff2) format("woff2");
}
@font-face {
  font-family: "Stolzl-regular";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./../fonts/stolzl_regular.woff2) format("woff2");
}
@font-face {
  font-family: "Stolzl-bold";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./../fonts/stolzl_bold.woff2) format("woff2");
}
@font-face {
  font-family: "Stolzl-book";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./../fonts/stolzl_book.woff2) format("woff2");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Stolzl-book", sans-serif;
  background-color: #FAFAFA;
  color: #666666;
  font-size: 14px;
  overflow-x: hidden;
}
@media screen and (min-width: 1920px) {
  body {
    font-size: 18px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 15px;
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1470px;
    padding: 0 30px;
  }
}

a {
  text-decoration: none;
  color: #333333;
  transition: color 0.2s ease-in;
}
.header {
  padding-top: 30px;
  padding-bottom: 20px;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  webkit-transform: translate3d(0, -50%, 0);
  transform: top;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0.4s;
  transition: 0.3s ease-in;
}

.sticky + .free-meals {
  padding-top: 100px;
}

.header__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 959px) {
  .header__top-row {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 490px) {
  .header__top-row {
    justify-content: space-between;
  }
}

.logo {
  max-width: 229px;
}

.header__nav {
  padding-top: 10px;
}
@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav-button {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-button {
    display: block;
  }
}

.nav__list {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__list-item {
  font-family: "Stolzl-regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.2s ease-in;
  padding: 3px 5px;
}
.nav__list-item:hover {
  background-color: #E7E7E7;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.button {
  font-size: 13px;
  padding: 17px 44px;
  border-radius: 30px;
  background-color: #05581C;
  color: #fff;
  text-transform: uppercase;
  font-family: "Stolzl-bold", sans-serif;
  text-align: center;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #05481C;
}
@media screen and (min-width: 1920px) {
  .button {
    font-size: 16px;
  }
}

@media screen and (max-width: 959px) {
  .header__btn {
    margin-left: auto;
    margin-right: 2%;
  }
}
@media screen and (max-width: 490px) {
  .header__btn {
    display: none;
  }
}

/* Nav Icon */
.nav__icon-button {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.free-meals {
  position: relative;
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 490px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-container__left {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-top: 200px;
  padding-bottom: 115px;
}
@media screen and (max-width: 490px) {
  .flex-container__left {
    padding-top: 50px;
    text-align: center;
    gap: 10px;
  }
}

.ellipse {
  position: absolute;
  top: 30px;
  left: -100px;
  z-index: -1;
  width: 900px;
  height: 900px;
  background-color: #F8FFF5;
  border-radius: 900px;
}
@media screen and (min-width: 1920px) {
  .ellipse {
    width: 1080px;
    height: 1080px;
    border-radius: 1080px;
  }
}
@media screen and (max-width: 959px) {
  .ellipse {
    width: 680px;
    height: 680px;
    border-radius: 680px;
  }
}
@media screen and (max-width: 490px) {
  .ellipse {
    display: none;
  }
}

.h1-title {
  color: #05581C;
  font-family: "Stolzl-bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .h1-title {
    font-size: 3em;
  }
}
.h1-title span {
  color: #333333;
  font-family: "Stolzl-regular", sans-serif;
  font-weight: 400;
}

.main__text {
  color: #366126;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7em;
}

.flex-row {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 490px) {
  .flex-row {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.main__btn {
  padding: 18px 42px;
  font-size: 14px;
  border-radius: 80px;
}
@media screen and (min-width: 1920px) {
  .main__btn {
    font-size: 16px;
    width: 220px;
  }
}

.outline__btn {
  color: #05581C;
  background-color: #FAFAFA;
  border: 2px solid #05581C;
  transition: all 0.2s ease-in;
}
.outline__btn:hover {
  color: #fff;
}

.main__img {
  position: absolute;
  max-height: 850px;
  top: 100;
  right: 0;
  z-index: -2;
  border-top-left-radius: 300px;
}
@media screen and (max-width: 959px) {
  .main__img {
    max-height: 650px;
  }
}
@media screen and (max-width: 490px) {
  .main__img {
    display: none;
  }
}

.scroll {
  top: 100px;
}

.elipse-scroll {
  top: 130px;
}

.about-us {
  padding-top: 30px;
}
@media screen and (min-width: 1920px) {
  .about-us {
    padding-top: 2em;
  }
}

.cards {
  margin-bottom: 151px;
}
@media screen and (max-width: 959px) {
  .cards {
    margin-bottom: 100px;
  }
}

.cards__grid-row {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 30%);
}
@media screen and (min-width: 1920px) {
  .cards__grid-row {
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
  }
}
@media screen and (max-width: 959px) {
  .cards__grid-row {
    grid-template-columns: 90%;
    justify-content: center;
  }
}

.card-item {
  padding: 20px 21px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.card__img {
  height: 53px;
  width: 53px;
}
@media screen and (min-width: 1920px) {
  .card__img {
    max-width: 100%;
  }
}

.card__info {
  color: #363333;
}

.card-title {
  font-family: "Stolzl-bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (min-width: 1920px) {
  .card-title {
    font-size: 1em;
  }
}

.card__text {
  font-size: 13px;
  line-height: 1.5em;
  font-family: "Stolzl-regular", sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 1920px) {
  .card__text {
    font-size: 0.8em;
  }
}

.about__flex {
  display: flex;
  gap: 30px;
  position: relative;
  flex-wrap: nowrap;
}

@media screen and (max-width: 959px) {
  .about__info {
    max-width: 50%;
  }
}
@media screen and (max-width: 490px) {
  .about__info {
    max-width: 100%;
  }
}

.info__img {
  max-height: 200px;
  position: absolute;
  top: -100px;
  left: -90px;
  transform: rotate(48.96deg);
  opacity: 0.8;
  z-index: -1;
}

.title-h2 {
  color: #333333;
  font-family: "Stolzl-bold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1920px) {
  .title-h2 {
    font-size: 2.5em;
  }
}

.info__text {
  max-width: 500px;
  color: #626262;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55em;
  margin-bottom: 27px;
}

.outline__btn {
  text-transform: inherit;
  border: 1px solid;
}

.info-grid {
  padding-top: 30px;
  gap: 30px;
  display: grid;
  padding-left: 40px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 959px) {
  .info-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 490px) {
  .info-grid {
    grid-template-columns: 1fr;
  }
}

.info-grid__item {
  position: relative;
  color: #4F4F4F;
  font-family: "Stolzl-medium", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.55em;
}
.info-grid__item::before {
  position: absolute;
  content: "";
  background: url(./../img/about-us/tick.png);
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: -35px;
  z-index: 9;
}
@media screen and (min-width: 1920px) {
  .info-grid__item {
    font-size: 0.8em;
  }
}

.about__img-wrapper {
  max-width: 60%;
}
@media screen and (max-width: 959px) {
  .about__img-wrapper {
    left: -100%;
    top: -10%;
  }
}
@media screen and (max-width: 490px) {
  .about__img-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .about__img {
    max-height: 610px;
  }
}
.benefits {
  padding-top: 57px;
  padding-bottom: 150px;
}

.benefits-flex {
  display: flex;
  gap: 67px;
  align-items: flex-end;
}
@media screen and (max-width: 959px) {
  .benefits-flex {
    gap: 10px;
    align-items: center;
  }
}
@media screen and (max-width: 490px) {
  .benefits-flex {
    flex-direction: column;
    align-items: center;
  }
}

.benefits-flex__left {
  width: 50%;
}
@media screen and (max-width: 490px) {
  .benefits-flex__left {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .benefits__img {
    max-width: 772px;
  }
}

.benefits-flex__right {
  padding-bottom: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 490px) {
  .benefits-flex__right {
    width: 100%;
  }
}

.title-h3 {
  position: relative;
  color: #05581C;
  font-family: "Miniver", serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 12px;
}
.title-h3::after {
  content: "";
  width: 34px;
  height: 1px;
  background-color: #05581C;
  position: absolute;
  top: 18px;
  margin-left: 10px;
}
@media screen and (min-width: 1920px) {
  .title-h3 {
    font-size: 1.5em;
  }
}

.benefits__text {
  margin-bottom: 26px;
  line-height: 1.55em;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media screen and (max-width: 959px) {
  .benefits-list {
    display: none;
  }
}

.benefits-list2 {
  display: none;
  flex-direction: column;
  gap: 6px;
}
@media screen and (max-width: 959px) {
  .benefits-list2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
  }
}
@media screen and (max-width: 490px) {
  .benefits-list2 {
    grid-template-columns: 80%;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
  }
}

.benefits-list__item {
  padding: 7px 0 7px 15px;
  display: flex;
  gap: 20px;
  background-color: #fff;
  max-width: 286px;
  align-items: center;
  border-left: 4px solid #05581C;
  border-radius: 6px;
  font-family: "Stolzl-regular", sans-serif;
  color: #4F4F4F;
  font-size: 14px;
  box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);
}
@media screen and (min-width: 1920px) {
  .benefits-list__item {
    font-size: inherit;
    max-width: 60%;
  }
}

.benefits-list__item img {
  width: 43px;
  height: 43px;
}

.nutrition {
  max-width: 1920px;
  padding-top: 90px;
  margin-bottom: 90px;
  border-radius: 180px 180px 0px 0px;
  position: relative;
  background: #05581C;
  z-index: 1;
}
@media screen and (max-width: 959px) {
  .nutrition {
    padding-top: 5%;
    border-radius: 90px 90px 0px 0px;
  }
}
@media screen and (max-width: 490px) {
  .nutrition {
    border-radius: 30px 30px 0px 0px;
  }
}

.nutrition__overlay {
  border-radius: 180px 180px 0px 0px;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #05581C 54.5%, rgba(5, 88, 28, 0.07) 79%, rgba(5, 88, 28, 0.04) 79.68%, rgba(5, 88, 28, 0) 80.81%);
}

.nutrition__img {
  position: absolute;
  top: -10%;
  right: 0;
  z-index: 0;
  width: 25%;
}
@media screen and (max-width: 959px) {
  .nutrition__img {
    top: 0;
  }
}
@media screen and (max-width: 490px) {
  .nutrition__img {
    display: none;
  }
}

.nutrition__bg-img {
  opacity: 0.2;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.title-h3_white {
  color: #A9DDB7;
  text-align: center;
  font-size: 26px;
}
.title-h3_white::after {
  content: none;
}
@media screen and (min-width: 1920px) {
  .title-h3_white {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 959px) {
  .title-h3_white {
    font-size: 2em;
  }
}

.title-h2_white {
  color: #fff;
  text-align: center;
  line-height: 56px;
}
@media screen and (max-width: 959px) {
  .title-h2_white {
    font-size: 2em;
  }
}

.nutrition-card {
  padding: 40px 50px;
  max-width: 1140px;
  border-radius: 50px;
  background: #F8FFF5;
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .nutrition-card {
    padding: 20px 25px;
  }
}

.nutrition-card__row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #05581C;
  font-size: 15px;
  font-family: "Stolzl-medium", sans-serif;
  margin-bottom: 50px;
}
@media screen and (min-width: 1920px) {
  .nutrition-card__row {
    font-size: 1em;
  }
}
@media screen and (max-width: 959px) {
  .nutrition-card__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 490px) {
  .nutrition-card__row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.nutrition-card__line {
  background: #C6DDBB;
  width: 1px;
  height: 42px;
  align-self: center;
}
@media screen and (max-width: 959px) {
  .nutrition-card__line {
    display: none;
  }
}

.nutrition-card__img {
  margin-bottom: 12px;
  max-height: 53px;
}
@media screen and (min-width: 1920px) {
  .nutrition-card__img {
    max-height: 4em;
  }
}
@media screen and (max-width: 959px) {
  .nutrition-card__img {
    max-height: 60px;
  }
}

.nutrition-card__wrap {
  display: flex;
  gap: 29px;
}
@media screen and (max-width: 959px) {
  .nutrition-card__wrap {
    flex-direction: column;
    align-items: center;
  }
}

.nutrition-card__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nutrition-card__right ul {
  color: #5B5B5B;
  font-size: 14px;
  line-height: 200%;
  list-style: disc inside;
}
@media screen and (min-width: 1920px) {
  .nutrition-card__right ul {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 959px) {
  .nutrition-card__right ul {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
}

.nutrition-card__right figcaption {
  color: #333333;
  font-family: "Stolzl-medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 10px;
}

.delivery {
  background-image: url(./../img/delivery/delivery_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  background-position: center center;
}

.delivery-flex {
  position: relative;
}

.delivery__infobox {
  max-width: 500px;
  margin-top: 100px;
  margin-left: 50%;
}

.delivery__headline {
  font-family: "Stolzl-regular", sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 2.8em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1920px) {
  .delivery__headline {
    font-size: 3em;
  }
}
@media screen and (max-width: 490px) {
  .delivery__headline {
    font-size: 1.5em;
  }
}

.title-h2_green {
  color: #1AC94B;
}

.green__btn {
  background-color: #1AC94B;
}

.service {
  padding-top: 50px;
}

.service-flex {
  background-color: #F8FFF5;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  margin-bottom: 65px;
  gap: 2em;
  margin-left: 15%;
}
@media screen and (max-width: 959px) {
  .service-flex {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
}

.service-flex__left {
  padding: 65px 0 70px 110px;
  max-width: 510px;
}
@media screen and (min-width: 1920px) {
  .service-flex__left {
    max-width: 50%;
  }
}
@media screen and (max-width: 959px) {
  .service-flex__left {
    padding: 0;
  }
}
@media screen and (max-width: 490px) {
  .service-flex__left {
    text-align: center;
  }
}

.serve__text {
  color: #828282;
  line-height: 1.5em;
  margin-bottom: 2em;
}
@media screen and (min-width: 1920px) {
  .serve__text {
    font-size: 1em;
  }
}

.service-flex__contacts {
  display: flex;
  align-items: center;
  color: #333333;
  font-family: "Stolzl-book", sans-serif;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 2em;
  gap: 20px;
}
@media screen and (min-width: 1920px) {
  .service-flex__contacts {
    font-size: 1em;
  }
}
@media screen and (max-width: 490px) {
  .service-flex__contacts {
    flex-direction: column;
  }
}

.service-flex__contacts img {
  width: 27px;
  height: 27px;
}
@media screen and (min-width: 1920px) {
  .service-flex__contacts img {
    height: 2em;
  }
}

.flex-contacts__left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-contacts__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.outline__btn-green {
  background-color: #F8FFF5;
}

.sevice__img {
  padding-top: 1%;
}

.footer {
  background-color: rgba(224, 240, 218, 0.3019607843);
  padding-top: 50px;
  position: relative;
}

.footer-bg__img {
  position: absolute;
  top: 100px;
  right: 0;
}

.footer-row {
  display: flex;
  gap: 15%;
  align-items: flex-start;
  font-size: 10px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1920px) {
  .footer-row {
    justify-content: space-around;
  }
}
@media screen and (max-width: 959px) {
  .footer-row {
    gap: 10%;
    flex-wrap: wrap;
  }
}

.footer-info {
  max-width: 238px;
}

.footer-text {
  padding-top: 10px;
  color: #4d6c40;
  line-height: 1.56em;
}

.footer__headline {
  padding-top: 25px;
  font-size: 15px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-menu__list {
  display: grid;
  gap: 7px;
  list-style: none;
  font-size: 14px;
  font-family: "Stolzl-regular", sans-serif;
  line-height: 1.55em;
}
.footer-menu__list a {
  color: #666666;
}

.footer-contacts__item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-contacts__item img {
  width: 16px;
  align-self: baseline;
}

.copyright {
  color: #fff;
  background-color: #195a00;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyright a {
  color: #fff;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */