.about-us {
  padding-top: 30px;


  @include mediaFullHD {
    padding-top: 2em;
  }
}

.cards {
  margin-bottom: 151px;

  @include mediaTablet {
    margin-bottom: 100px;
  }
}

.cards__grid-row {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 30%);

  @include mediaFullHD {
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
  }

  @include mediaTablet {
    grid-template-columns: 90%;
    justify-content: center;
  }
}

.card-item {
  padding: 20px 21px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: $white;
  border-radius: 10px;

  @include mediaTablet {
    // justify-content: center;

  }

}

.card__img {
  height: 53px;
  width: 53px;

  @include mediaFullHD {
    max-width: 100%;
  }
}

.card__info {
  color: #363333;
}

.card-title {
  font-family: $font-bold;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;

  @include mediaFullHD {
    font-size: 1em;
  }
}

.card__text {
  font-size: 13px;
  line-height: 1.5em;
  font-family: $font-regular;
  font-weight: 500;

  @include mediaFullHD {
    font-size: 0.8em;
  }
}

.about__flex {
  display: flex;
  gap: 30px;
  position: relative;
  flex-wrap: nowrap;
}

.about__info {
  // position: relative;

  @include mediaTablet {
    max-width: 50%;
  }

  @include mediaMobile {
    max-width: 100%;
  }

}

.info__img {
  max-height: 200px;
  position: absolute;
  top: -100px;
  left: -90px;
  transform: rotate(48.96deg);
  opacity: 0.8;
  z-index: -1;

}

.title-h2 {
  color: $dark-grey;
  font-family: $font-bold;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  margin-bottom: 1.5rem;

  @include mediaFullHD {
    font-size: 2.5em;
  }
}

.info__text {
  max-width: 500px;
  color: #626262;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55em;
  margin-bottom: 27px;
}

.outline__btn {
  text-transform: inherit;
  border: 1px solid;
}


.info-grid {
  padding-top: 30px;
  // max-width: 60%;
  gap: 30px;
  display: grid;
  padding-left: 40px;
  grid-template-columns: repeat(2, 1fr);

  @include mediaTablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  @include mediaMobile {
    grid-template-columns: 1fr;
  }
}

.info-grid__item {
  position: relative;
  color: #4F4F4F;
  font-family: $font-medium;
  font-size: 14px;
  font-style: normal;
  line-height: 1.55em;

  &::before {
    position: absolute;
    content: '';
    background: url(./../img/about-us/tick.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: -35px;
    z-index: 9;
  }


  @include mediaFullHD {
    font-size: 0.8em;
  }
}

.about__img-wrapper {
  max-width: 60%;
  // position: relative;

  @include mediaTablet {
    left: -100%;
    top: -10%;

  }

  @include mediaMobile {
    display: none;
    // margin: 0 auto;
    // padding-left: 0;
  }

}

.about__img {


  @include mediaFullHD {
    max-height: 610px;
  }

  @include mediaTablet {
    // height: 300px;

  }

}