.benefits {
  padding-top: 57px;
  padding-bottom: 150px;
}

.benefits-flex {
  display: flex;
  gap: 67px;
  align-items: flex-end;

  @include mediaTablet {
    gap: 10px;
    align-items: center;
  }

  @include mediaMobile {
    flex-direction: column;
    align-items: center;
  }
}

.benefits-flex__left {
  width: 50%;

  @include mediaMobile {
    width: 100%;
  }
}

.benefits__img {


  @include mediaFullHD {
    max-width: 772px;
  }
}

.benefits-flex__right {
  padding-bottom: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include mediaMobile {
    width: 100%;
  }
}

.title-h3 {
  position: relative;
  color: $accent;
  font-family: $font-accent;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 12px;

  &::after {
    content: '';
    width: 34px;
    height: 1px;
    background-color: $accent;
    position: absolute;
    top: 18px;
    margin-left: 10px;
  }

  @include mediaFullHD {
    font-size: 1.5em;
  }
}

.benefits__text {
  margin-bottom: 26px;
  line-height: 1.55em;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include mediaTablet {
    display: none;
  }
}

.benefits-list2 {
  display: none;
  flex-direction: column;
  gap: 6px;

  @include mediaTablet {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
  }

  @include mediaMobile {
    grid-template-columns: 80%;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;

  }
}

.benefits-list__item {
  padding: 7px 0 7px 15px;
  display: flex;
  gap: 20px;
  background-color: $white;
  max-width: 286px;
  align-items: center;
  border-left: 4px solid $accent;
  border-radius: 6px;
  font-family: $font-regular;
  color: #4F4F4F;
  font-size: 14px;
  box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);

  @include mediaFullHD {
    font-size: inherit;
    max-width: 60%;
  }
}

.benefits-list__item img {
  width: 43px;
  height: 43px;
}