.delivery {
  background-image: url(../img/delivery/delivery_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  max-width: 100%;
}

.delivery-flex {
  position: relative;
}

.delivery__infobox {
  position: absolute;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(20%, 50%);
}

.delivery__headline {
  font-family: $font-regular;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

.title-h2_white {}

.title-h2_green {
  color: $green-accent;
}

.green__btn {
  background-color: $green-accent;
}