.delivery {
  background-image: url(./../img/delivery/delivery_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  background-position: center center;

}

.delivery-flex {
  position: relative;
}

.delivery__infobox {
  // position: absolute;
  max-width: 500px;
  padding-top: 100px;
  margin-left: 50%;
}

.delivery__headline {
  font-family: $font-regular;
  text-align: left;
  font-weight: 700;
  font-size: 2.8em;
  margin-bottom: 30px;

  @include mediaFullHD {
    font-size: 3em;
  }

  @include mediaMobile {
    font-size: 1.5em;
  }
}


.title-h2_green {
  color: $green-accent;
}

.green__btn {
  background-color: $green-accent;
}