.service {
  padding-top: 50px;
}

.service-flex {
  background-color: $light-green;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  margin-bottom: 65px;
  gap: 2em;
  margin-left: 15%;


  @include mediaTablet {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 0;
  }
}


.service-flex__left {
  padding: 65px 0 70px 110px;
  max-width: 510px;

  @include mediaFullHD {
    max-width: 50%;
  }

  @include mediaTablet {
    padding: 0;

  }

  @include mediaMobile {
    text-align: center;
  }
}

.serve__text {
  color: $lighter-grey;
  line-height: 1.5em;
  margin-bottom: 2em;

  @include mediaFullHD {
    font-size: 1em;
  }
}

.service-flex__contacts {
  display: flex;
  align-items: center;
  color: $dark-grey;
  font-family: $font-main;
  font-weight: 700;

  line-height: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 2em;
  gap: 20px;

  @include mediaFullHD {
    font-size: 1em;
  }

  @include mediaMobile {
    flex-direction: column;
  }
}

.service-flex__contacts img {
  width: 27px;
  height: 27px;

  @include mediaFullHD {
    height: 2em;
  }
}

.flex-contacts__left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-contacts__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.outline__btn-green {
  background-color: $light-green;
}

.service-flex__right {}

.sevice__img {
  padding-top: 1%;
}