 //Fonts

 $font-main: 'Stolzl-book', sans-serif;
 $font-accent: 'Miniver', serif;
 $font-bold:'Stolzl-bold', sans-serif;
 $font-medium:'Stolzl-medium', sans-serif;
 $font-regular:'Stolzl-regular', sans-serif;

  //Colors

  $background-color: #FAFAFA;
  $accent: #05581C;
  $accent-hover:#05481C;
  $white: #fff;
  $dark-grey: #333333;
  $light-grey:#666666;
  $lighter-grey:#828282;
  $muted:#E7E7E7;
  $light-green:#F8FFF5;
  $green-accent:#1AC94B;